/*
Theme Name: THEME_NAME
Author: Raphaël Dupré
Description: Thème sur mesure basé sur Bootstrap
Requires at least: WordPress 5.X
Version: 1.0
*/




/**********                 **********/
/********** Appel des fonts **********/
/**********                 **********/

@font-face {
    font-family: 'FONT_NAME';
    src: url('/wp-content/themes/THEME_NAME/fonts/FONT_FILE_NAME.eot');
    src: url('/wp-content/themes/THEME_NAME/fonts/FONT_FILE_NAME.eot?#iefix') format('embedded-opentype'),
    url('/wp-content/themes/THEME_NAME/fonts/FONT_FILE_NAME.woff') format('woff'),
    url('/wp-content/themes/THEME_NAME/fonts/FONT_FILE_NAME.woff2') format('woff2'),
    url('/wp-content/themes/THEME_NAME/fonts/FONT_FILE_NAME.ttf') format('truetype'),
    url('/wp-content/themes/THEME_NAME/fonts/FONT_FILE_NAME.svg#FONT_FILE_NAME') format('svg');
    font-weight:normal;
    font-style: normal;
}




/**********           **********/
/********** Variables **********/
/**********           **********/

$font-name: 'FONT_NAME', sans-serif;

$blanc: #FFFFFF;
$noir: #000000;

@mixin translate ($x, $y) {
	@include transform(translate($x, $y));
}

@mixin transform($transforms) {
	-webkit-transform: $transforms;
	-moz-transform: $transforms;
	-ms-transform: $transforms;
	transform: $transforms;
}

@mixin transition($time : 0.3s, $type : all, $effect : ease-out) {
	-webkit-transition: $type $time $effect;
  -moz-transition: $type $time $effect;
  -o-transition: $type $time $effect;
  transition: $type $time $effect;
}

@mixin rotate($degrees) {
  -webkit-transform: rotate($degrees);
  -moz-transform: rotate($degrees);
  -ms-transform: rotate($degrees);
  -o-transform: rotate($degrees);
  transform: rotate($degrees);
}

$xs: 575.98px;
$sm: 767.98px;
$md: 991.98px;
$lg: 1199.98px;




/**********                **********/
/********** Global / Reset **********/
/**********                **********/

html {
    scroll-behavior: smooth;
}   

body {
    overflow-x: hidden;
    max-width:100%;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

h1 {
    font-family: $font-name;
    font-size: 60px;
    line-height: 60px;
    color: $blanc;
}

h2 {
    font-family: $font-name;
    font-size: 47px;
    line-height: 54px;
    color: $blanc;
}

h3 {
    font-family: $font-name;
    font-size: 18px;
    line-height: 24px;
    color: $blanc;
}

h4 {
    font-family: $font-name;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 3px;
    color: $blanc;
}

a, button {
    @include transition(.3s);
}


.row {
    margin-left: 0;
    margin-right: 0;
}

main {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.padding-reset {
    padding: 0;
}

.margin-reset {
    margin: 0;
}